body {
  background: linear-gradient(rgba(20,20,30,0.7), rgba(20,20,30,0.7)), url('/static/pyramids.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.chatbot {
  text-align: center;
  margin-top: 4rem;
  color: white;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
}

.chat-btn {
  background-color: #b18fff;
  color: black;
  padding: 0.6rem 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;


}

.chat-btn:hover {
  background-color: #d5bfff;
}

.chatbox {
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 8px;
  max-width: 600px;
  margin: 1rem auto;
  color: white;
  text-align: left;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.input-box textarea {
  width: 100%;
  background-color: #1a1a1a;
  border: none;
  color: white;
  font-size: 1rem;
  resize: none;
  outline: none;
}

.response-box {
  background-color: #1a1a1a;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #eee;
  text-align: left;
}

.chat-input {
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #aaa;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
}