body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(to bottom right, #0f0f0f, #1a1a1a);
}
.signup{
    border: solid 1px rgb(102, 102, 126);
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    padding: 2rem;
    background-color: #2c2c2c;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
    
.title-signup{
     text-align: center;
     margin-bottom: 1.5rem;
     font-weight: 600;
    font-size: 1.5rem;
     color: #fdfdfd;
}
.form-css{
  margin-bottom: 1rem;

}
.username-css{
  margin-bottom: 0.5em;
  font-size:.9rem;
  font-weight: 500;
  display:block
}
.password-css{
  margin-bottom: 0.5em;
  font-size:.9rem;
   font-weight: 500;
  display:block
}
.email-css{
  margin-bottom: 0.5em;
  font-size:.9rem;
   font-weight: 500;
  display:block
}
input{
  border: none;
  padding:0.75rem;
  border-radius: 8px;
  background-color:#3d3d3d;
  width: 100%;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: #fff;
  font-size: 1rem;
}
button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #6a5acd;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5a4ac4;
}

.error-msg{
  color: red;
  text-align: center;
}

a {
  text-align: center;
  display: block;
  margin-top: 1rem;
  color: #b19cd9;
  text-decoration: none;
  font-size: 0.9rem;
}
@media (max-width: 480px) {
      .signup {
        padding: 1.5rem;
        border-radius: 12px;
        }
       input, button {
        font-size: 0.9rem;
      }
    }